body {
  font-family: sans-serif;
  padding-top: 55px; }

h1 {
  font-size: 40px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 15px;
  box-shadow: 5px 5px 11px 5PX; }
  h1 h2 {
    font-family: Impact, serif; }

h2 {
  font-size: 40px;
  font-style: italic;
  text-decoration: none; }

h1,
h2,
p {
  text-align: center; }

.menu {
  background-color: #116bd8;
  padding: 20px; }

hr {
  height: 4px;
  background-color: black;
  border-color: #060505; }

.bottom-line {
  margin-top: 24px;
  color: black; }

footer {
  font-size: 16px; }

.navbar {
  background-color: #93b4de; }

.list-group {
  display: grid;
  grid-template-rows: 800px 800px;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 10px; }
  .list-group-item {
    background-color: #116bd8; }

.imagen {
  transform: translate(25px, 50px);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  border: #000000 solid 1px;
  width: 75%; }
  .imagen:hover {
    transform: scale(0.8); }

.nav-link:hover {
  color: #08ae6c;
  outline-style: groove; }

.navbar-brand:hover, .badge {
  color: #08ae6c; }

@media screen and (max-width: 1108px) {
  .list-group {
    display: flex;
    flex-direction: space-between; }
  body {
    font-family: sans-serif;
    margin: 0px; }
  .menu {
    background-color: #116bd8; }
  .imagen {
    transform: none;
    border: none;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    padding: 15px;
    object-fit: scale-down; }
  .nav-link:hover {
    color: #024429;
    outline-style: groove; }
  .navbar-brand:hover, .badge {
    color: #024429; }
  .imagen:hover {
    transform: none; }
  .relleno {
    background-color: #116bd8;
    padding-bottom: 100%; } }

@media screen and (max-width: 768px) {
  .list-group {
    display: flex;
    flex-direction: space-between; }
  body {
    font-family: sans-serif;
    margin: 0px; }
  .menu {
    background-color: #116bd8; }
  .imagen {
    transform: none;
    border: none;
    max-width: 50%;
    max-height: 100%;
    text-align: center;
    padding-left: 1px;
    object-fit: scale-down; }
  .nav-link:hover {
    color: #024429;
    outline-style: groove; }
  .navbar-brand:hover, .badge {
    color: #024429; }
  .imagen:hover {
    transform: none; }
  .span {
    align-items: flex-start; }
  .relleno {
    background-color: #116bd8;
    padding-bottom: 100%; } }
